* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  :root {
    --color-bg: #03396c;
    --color-bg-variant: #005b96;
    --color-bg-dark: #011f4b;
    --color-primary: #b3cde0;
    --color-primary-variant: rgb(11, 250, 250);
    --color-primary-variant-x: rgba(11, 250, 250, 0.616);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
  
    --transition: all 400ms ease;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../images/bg-texture.png);
    scroll-behavior: smooth;
  }

  .container{
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    width: max-content;
    padding: 2rem;
    margin-top: 50px;
    border: solid 1px var(--color-bg-variant);
    border-radius: 2rem;
  }
  .wrapper form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .wrapper form input{
    background-color: var(--color-bg-dark);
    border-bottom: solid 1px var(--color-primary-variant);
    font-size: 20px;
    text-align: center;
  }

  .wrapper form input::placeholder{
    color: var(--color-light);
  }
